{% extends 'base.html' %}  

{% load static %}  
<link rel="stylesheet" href="{% static 'images/../static/style.css' %}">  

{% block body %}  

<section class="h-100 bg-dark">  
    {% include 'messages.html' %}  
    <div class="container py-5 h-100">  
        <div class="row d-flex justify-content-center align-items-center h-100">  
            <div class="col">  
                <div class="card card-registration my-4">  
                    <div class="row g-0">  
                        <div class="col-xl-6 d-none d-xl-block">  
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"  
                                 alt="Sample photo" class="img-fluid"  
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />  
                        </div>  
                        <div class="col-xl-6">  
                            <div class="card-body p-md-5 text-black">  
                                <h3 class="mb-5 text-uppercase">Sign Up</h3>  

                                <form method="post" action="/register">  
                                    {% csrf_token %}  
                                    <div class="form-group">  
                                        <label for="name">Name</label>  
                                        <input type="text" class="form-control" id="name" placeholder="Name" name='name' required>  
                                    </div>  
                                    <div class="form-group">  
                                        <label for="username">UserName</label>  
                                        <input type="text" class="form-control" id="username" placeholder="Username" name='username' required>  
                                    </div>  
                                    <div class="form-group">  
                                        <label for="number">Phone Number</label>  
                                        <input type="text" class="form-control" id="number" placeholder="Eg: 9120001478" name='number' required>  
                                    </div>  
                                    <div class="form-group">  
                                        <label for="email">Email address</label>  
                                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name='email' required>  
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>  
                                    </div>  
                                    <div class="form-group">  
                                        <label for="password">Password</label>  
                                        <input type="password" class="form-control" id="password" placeholder="Password" name='password' required>  
                                    </div>  
                                    <div class="form-group">  
                                        <label for="password2">Confirm Password</label>  
                                        <input type="password" class="form-control" id="password2" placeholder="Confirm Password" name='password2' required>  
                                    </div>  

                                    <div class="d-flex justify-content-end pt-3">  
                                        <button type="submit" class="btn btn-warning btn-lg ms-2">Submit</button>  
                                    </div>  
                                </form>  
                            </div>  
                        </div>  
                    </div> <!-- End of row g-0 -->  
                </div> <!-- End of card -->  
            </div><!-- End of column -->  
        </div><!-- End of row -->  
    </div><!-- End of container -->  
</section>  

{% endblock body %}